body {
	margin: 0;
	background: url("bg.jpg") no-repeat;
	background-position: center top;
}

#container {
	position: relative;
	left: 5px;
	right: 5px;
	margin: auto;
	width: 500px;
	align-items: center;
	text-align: center;
	padding: 50px;
	display: block;
	box-sizing: border-box;
	justify-content: center;
	height: 50%;
}

#subcontainer {
	background-color: white;
	opacity: 0.9;
	border-radius: 4px;
	padding: 10px;
}

input {
	background-color: #fff8f8;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	border: 1.2px black;
	display: inline-block;
	width: 80%;
	left: 5px;
	right: 5px;
	position: relative;
	/*text-align: center;*/
}

input[type=checkbox] {
	width: auto;
	/*margin: 0.5em;*/
}
input[type=submit] {
	padding: 8px;
	font-size: 1.2em;
	margin: 10px;
	width: auto;
	background-color: #6f616b;
	color: white;
	display: inline-block;
	box-sizing: border-box;
	transform: background 2s;
	border-radius: 3px;
}

input[type=submit]:hover {
	opacity: 0.7;
}

#loginnav, #signupnav {
	display: inline-block;
	color: white;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
	font-size: 1.2em;
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#loginnav {
	background-color: #28601d;
	opacity: 1.0;
}

#signupnav {
	background-color: #DF4930;
}

#loginnav:hover, #signupnav:hover {
	opacity: 1;
	cursor: pointer;
}

#logo {
	color: black;
	font-weight: bold;
	font-family: impact;
	margin-top: 50px;
	margin-left: 50px;

}
#brandName{
	text-decoration: none;
	color: #990099;
}
#brandName:hover{
	color: #ffff00;
}

#login, #signup {
	-webkit-transition: display 1s ease-in-out;
	-moz-transition: display 1s ease-in-out;
	transition: display 1s ease-in-out;
}
#login {
	display: none;
}

#signup {
	display: none;
}

.thirdPartyLogins {
	margin: 2px;
	width: auto;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	justify-content: center;
}

.thirdPartyLogin {
	display: inline-block;
	background-color: white;
	margin-bottom: 5px;
	width: auto;
	padding: 5px 5px 5px 0;
	cursor: pointer;
}



#facebook {
	background-color: #6577C2;
}
.thirdPartyLogo{
	height: 20px;
	width: 20px;
	padding-left: 1em;
	vertical-align: center;
}

#facebook:hover {
	background-color: #2067C7;
}

#google {
	background-color: #E15242;	
}

#google:hover{
	background-color: #ff0000;
}
.thirdPartyText {
	font-size: 1.2em;
	vertical-align: center;
	color: white;
	padding-right: 1em
}

#googletext, #fbtext {
	padding: 10px;
}

#googletext::before, #fbtext::before {
	padding-right: 5px;
}

#googletext::before {
	content: "\f0d5";
}


#fbtext::before {
	content: "\f09a";
}


@media screen and (max-width: 700px) {
	input {
		width: 80%;
	}
	#container {
		width: 100%;
	}
	body {
		background-position: left;
	}
}

