body {
	margin: 0;
	box-sizing: border-box;
	width: 100vw;
}

#top-header {
	box-sizing: border-box;
	width: 100vw;
	height: 100px;
	/*border: 5px solid red;*/
	background-color: #20b2aa;
	position: relative;
	margin: 0;
}

#logo {
	display: inline-block;
	margin-left: 10px;
	/*width: 8em;*/
	border: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	transition: color 1s ease;
}
#logo:hover, #logo:active {
	color: rgba(199,9,9,0.7);
}

#searchbox {
	position: relative;
	display: inline-block;
	/*border: 1px solid blue;*/
	float: right;
	margin: auto;
	/*display: none;*/
	margin-top: 25px;
	margin-right: 25px;
}
#searchbox form {
	margin: 0;
}
#searchbox input {
	margin: 0;
	padding: 0;
	height: 2em;
	width: 5em;
	box-shadow: 0px 0px 1px 1px;
	transition: width .5s ease;
}

#searchbox input:focus {
	box-shadow: 0px 0px 5px 2px;
	width: 15em;
}
#searchicon {
	width: 30px;
	height: 30px;
	display: inline-block;
	float: right;
	left: -50px;
	background-color:
}

#profilepic-container {
	float: right;
	position: relative;
	top: 20px;
}

.profilepic {
	display: block;
	background: url('../images/himanshu.jpg');
	background-position: center;
	background-size: cover;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 15px;
	margin-bottom: 2px;
}

.dropdown-list {
	position: absolute;
	left: -70px;
	width: auto;
	display: none;
	margin: 0;
	background: rgba(0,0,0,0.4);
	opacity: 1;
	z-index: 1;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 1px 1px 2px 3px;
}

.dropdown-list ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
}

.dropdown-list>ul {
	border-top: 0.2px solid white;
}

.dropdown-list ul li {
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	/*border-bottom: 1px solid;*/
	border: 0.2px solid white;
	border-top: none;
	color: white;
	display: block;
	font-weight: bold;
	cursor: pointer;
}
.dropdown-list ul li:hover, .dropdown-list ul li:active {
	opacity: 0.7;
	color: white;
}
.downarrow {
	width: 0;
	height: 0;
	border-top: 5px solid black;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	display: inline-block;
	float: right;
	margin-top: -20px;
}

#quickstats-toggler {
	position: fixed;
	top: 50px;
	margin-left: 10px;
	cursor: pointer;
	width: 0;
	z-index: 2;
}

#quickstats-toggler span {
	font-size: 3em;
}

#quickstats-menu {
	display: block;
	margin-left: -10000px;
	font-size: 1em;
	border: 1px solid grey;
	padding: 5px;
	width: 200;
	overflow: hidden;
	z-index: 5;
	background: white;
	transition: margin-left .5s ease;
}

main {
	position: absolute;
	/*margin-top: -60px;*/
	border: 1px solid black;
	box-sizing: border-box;
	left: 0;
	right: 0;
	width: 85%;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*flex-wrap: nowrap;*/
	z-index: 1;
}

#navigation-pane {
	border: 1px solid red;
	box-sizing: border-box;
	width: 100%;
	/*float: left;*/
	/*min-width: 350px;*/
	/*max-width: 20vw;*/
}

#trending-pane {
	right: 0;
	box-sizing: border-box;
	border: 1px solid green;
	/*width: 60%;*/
	width: 100%;
	/*float: none;*/
	/*max-width: 80vw;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.showhide {
	display: block;
}

.content-box {
	width: 400px;
	height: 120px;
	max-width: 400px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
	display: inline-flex;
	position: relative;
}

.content-box-col-1 {
	width: 20%;
	/*border: 1px solid black;*/
	box-sizing: border-box;
}

.content-box-col-2 {
	width: 60%;
	/*border: 1px solid blue;*/
	box-sizing: border-box;
	padding-left: 5px;
}

.content-box-col-3 {
	width: 20%;
	/*border: 1px solid red;*/
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
}

.content-thumb {
	display: block;
	height: 100%;
	width: 100%;
	/*border: 1px solid maroon;*/
	background: grey;
	margin-right: .5em;
	box-sizing: border-box;
	z-index: -1;
}

.content-description {
	top: 0;
	width: 100%:
}

.desc-head a{
	font-weight: bold;
}

.desc-head a, .desc-category a, .desc-subject a, .desc-uploader a, .desc-institute a {
	color: black;
	text-decoration: none;
}

.desc-head a:hover, .desc-category a:hover, .desc-subject a:hover, .desc-uploader a:hover, .desc-institute a:hover {
	text-decoration: underline;
}

.content-likes-box {
	border-bottom: 1px solid black;
}

.content-stats {
	display: flex;
	flex-direction: column;;
	flex-wrap: nowrap;
	justify-content: flex-end;
	z-index: 1;
}

.content-stats div {
	display: inline-block;
	/*border: 1px solid;*/
	position: relative;
	box-sizing: border-box;
	text-align: center;
	/*border: 1px solid;*/
	cursor: pointer;
	background: rgba(255,255,255,.8);
}

.content-likes-box, .content-views-box {
	padding-left: 5px;
	padding-right: 5px;
}

.content-likes, .content-views {
	font-weight: bold;
	margin-right: 10px;
	float: right;
	width: 1em;
}

.content-likes {
	color: #ee0000;
	opacity: .2;
	float: right;
	text-shadow: 0px 0px 3px 1px;
}

.content-likes-animate {
	animation: pound .5s;
}

.content-likes-liked {
	opacity: 1;
}

@keyframes pound {
	from, to { font-size: 1em; }
	50% { font-size: 1.2em; }
}

.content-stats div:hover {
	/*background: rgba(19,18,18,0.8);
	color: white;*/
}


@media screen and (max-width: 560px) {
	#searchbox {
		/*top: 100px;
		left: 0;
		right: 0;
		margin: auto;
		align-items: center;*/
		width: 200px;
		float: right;
	}
	#searchbox input:focus {
		width: 170px;
	}
	#searchbox input {
		width: 170px;
	}
	#top-header {
		height: 150px;
	}
}
